.card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(118, 93, 28, 0.15);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  height: 100%;

  h3 {
    align-self: center;
  }

  p {
    padding-top: 1%;
  }
}

.feedCard {
  display: flex;
  flex-direction: row;

  .text-container {
    width: 80%;
  }

  &.current {

  }

  &.passed {

  }
}

.tag {

  border-radius: 4px;
  padding: 2px 8px 4px 8px;
  align-items: center;
  display: flex;


  &.green {
    background: #96DB8C;
    color: #241F58;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    font-variant: small-caps;
  }

  &.yellow {
    background: #E0CC9F;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin: 10px;
  }
}

.imgProfile {
  width: 200px;
  height: 200px;
  filter: drop-shadow(0px 20px 40px rgba(118, 93, 28, 0.15));
  border-radius: 65px;
}

.imgCarousselle {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 20px 40px rgba(118, 93, 28, 0.15));
  border-radius: 12px;
  margin: 2%;
}

.icon {
  width: 12px;
  height: 12px;
}
