@import "style";

// Button

.CTA {
  display: flex;
  background: var(--color-page-background);
  border: 1px solid theme-colors-primary(primary);
  border-radius: 1.875rem;
  width: 10rem;
  height: 3.75rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--color-label);
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size:  1.125rem;
  line-height: 1.5rem;

  &:hover {
    background: var(--color-elevation);
  }

  img{
    padding-right: 0.5rem;
  }

}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .button {
    padding: 0.5rem 0.2rem;
  }
}
