// Button

.btnFlat {
  background: #FFF6E1;
  border: 1px solid #E4D1A7;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none !important;
  padding: 15%;

  img {
    height: 100%;
    width: 100%;
  }

}

.btnFlat:active {
  box-shadow: 0px 0px 6px 1px rgba(220, 124, 114, 0.25);
}
