@import "css-reset";
@import "colorTheme";
@import "typo";
@import "assets";
@import "button";


body {
  background: theme-colors-light(lightBackground);
  height: 100vh;
  width: 100vw;
  font-size:  100%;

  div {
    display: flex;

  }

  #root-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: start;

    #switch {
      display: flex;
      flex-direction: row;
      justify-content: end;
      position: absolute;
      top: 1rem;
      right: 1rem;

      svg {
        padding: 0 0.5rem;
      }
    }

    .main-content {
      display: flex;
      flex-direction: column;
    }

    #side-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-right: 1px solid theme-colors-light(lightPlaceholder);
      height: 100%;
      width: 27%;
      padding: 1rem;

      #menu-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;

        #text {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding : 0.2rem;
          }
        }

        #socials {
          display: flex;
          flex-direction: row;
          padding: 0.5rem 0;

          div {
            padding: 0 0.5rem;
            color: theme-colors-light(lightPlaceholder);

            img {
              padding: 0.3rem;
            }
          }
        }

        .button-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }

      #menu-center {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        align-items: center;
        text-align: center;

        p {
          padding: 0.5rem;
        }

        .subtitle {
          color: theme-colors-primary(primaryDark)
        }
      }

      #copyright {
        justify-content: flex-end;
        text-align: center;

        a {
          text-decoration: underline;
          color: theme-colors-light(lightPlaceholder);
        }

        a:hover {
          text-decoration: none;
        }
      }
    }

    #main {
      border-right: 1px solid theme-colors-light(lightPlaceholder);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 4rem;
      //width: 30%;

      .main-content {
        padding: 1rem 0;

        h1 {
          padding: 0.5rem 0;
        }

        h2 {
          padding: 0.2rem 0;

        }
      }

    }

    #details {
      display: none;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 30%;

      #details-content {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 1rem 0;
        align-content: center;

        h2 {
          padding: 0.5rem 0;
        }

        .date {
          color: theme-colors-light(lightPlaceholder);
          padding: 0.2rem 0;
        }
      }
    }

    #mobile-menu {
      display: none;
      width: 100%;
      height: 10%;
      position: sticky;
      background: theme-colors-light(lightBackground);
      border-top: 1px solid theme-colors-light(lightPlaceholder);
      bottom: 0;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }

  }


}

$breakpoint-tablet: 960px;
@media (max-width: $breakpoint-tablet) {

  body {
    #root-container {

      #side-menu {
        width: 45%;
      }

      #main {
        border-right: none;
      }

    }
  }
}

$breakpoint-tablet: 780px;
@media (max-width: $breakpoint-tablet) {

  body {
    #root-container {
      flex-wrap: wrap;
      justify-content: center;

      #side-menu {
        width: 100%;
        height: 91%;
        border-bottom: 1px solid theme-colors-light(lightPlaceholder);
        border-right: none;

        #menu-top {

          .button-container {
            display: none;
          }
        }

        #copyright {
          padding: 1rem 0;
        }
      }

      #main {
        border-right: none;
      }

      #mobile-menu {
        display: flex;
      }
    }

  }


}

