@import "colorTheme";
// Typography

.title {
  color: theme-colors-light(lightLabel);
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 32px;
}

.subtitle {
  color: theme-colors-primary(primary);
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 24px;

}

.body {
  color: theme-colors-light(lightLabel);
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.caption {
  color: theme-colors-light(lightLabel);
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}




