// Typography

h1 {
  color: #241E58;
  font-family: 'Poller One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
}

h2 {
  color: #241E58;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

a {
  color: #2A265D;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
}

p {
  color: rgba(36, 31, 88, 0.5);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.caption {
  color: #A6A1DB;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  font-variant: small-caps;
}

.subtitle {
  color: #2A265D;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.subtitleSmall {
  color: #2A265D;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.CtaLink {
  color: #688F63;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
}


